html, body{
  margin:0;
  padding:0;
  background-color: black;
}

span, p{
  font-family:helvetica;
  font-size:22px;
  color:seashell;
  opacity:0.9;
}

#mission{
border:1px solid blue;
}

#featured{

}

#locations{

}

header{
display:flex;
border-bottom:1px solid seashell;
align-items: center;
z-index:5;
position:fixed;
justify-content:space-between;
width:100%;
height:69px;
}

#teacozylogo{
  height:50px;
  padding:10px;
}

.navbar{
  padding-right:10px;
}

a{
text-decoration: underline;
color:seashell;
padding-left:20px;
}

footer{

}
